.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding-top: 60px;
}

.chat-input-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: calc(100% - 20% - 70px);
  overflow-y: scroll;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
}

.message {
  width: 280px;
  border-top: 1px solid var(--border-color);
  padding: 5px;
}

.from-style {
  color: red;
}

.chat-input {
  display: flex;
  margin: 10px;
}
