.consultant-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.consultant-list {
  text-align: center;
}

li:last-child {
  border-bottom: none;
}

.list-teacher-wrapper {
  width: 320px;
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.list-teacher-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid var(--border-color);
}

.list-teacher-name {
  width: 250px;
  text-align: start;
  text-overflow: ellipsis;
}

.list-teacher-btn {
}