.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  margin: 0;
}

.login-form {
  background-color: #444;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  display: block;
  margin-bottom: 12px;
  color: #fff;
}

.login-input {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #666;
  background-color: #555;
  color: #fff;
}

.login-button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
}

.login-button:hover {
  background-color: #45a049;
}
