.user-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.user-role-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.user-edit-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}

.save-btn {
  padding: 10spx;
}

.user-role {
  width: 25%;
  padding: 5px;
  color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--border-color);
}
